{% extends 'base.html.twig' %}

{% block body %}
<div id="login-page"></div>
<script>
  window.loginData = {
    error: {{ error ? ('"' ~ error.messageKey ~ '"') : 'null' }},
    lastUsername: {{ last_username ? ('"' ~ last_username ~ '"') : 'null' }}
  };
</script>
{% endblock %}
